@import "tailwindcss";

:root {
  --font1: "Noto Serif Makasar", sans-serif;
  --font2: "Cyber Alert", sans-serif;
}

body {
  font-family: var(--font1);
}

h1,
h2,
h3 {
  font-family: var(--font2);
}

.clip-hexagon-vertical {
  clip-path: polygon(50% 0%, 100% 5%, 100% 95%, 50% 100%, 0% 95%, 0% 5%);
  min-height: 600px;
}
